<article class="post">
    <header class="post-header">
        <span class="header-username">{{ post.author.username }}</span>
        {#                    포스트 삭제를 위한 form#}
        {% if user == post.author %}
            <form action=""
                  method="POST"
                  class="post_delete">{% csrf_token %}
                <button type="submit" class="btn">글 삭제</button>
            </form>
        {% endif %}
        <span class="header-date">{{ post.created_date }}</span>
    </header>
    <!-- post내부에서 postphoto_set을 루핑하여 postphoto 리스트 작성-->
    <div class="post-image-container">
        <!-- Swiper container -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for postphoto in post.postphoto_set.all %}
                    <div class="swiper-slide">
                        <a href="{% url 'post:post-detail' pk=post.pk %}">
                            <img src="{{ postphoto.photo.url }}" alt=""
                                 class="post-image">
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Swiper container end -->
    </div>
    <div class="post-bottom-container">
        {#                    포스트에 컨텐츠가 없이 댓글에만 나오게함#}
        {#                    <div class="post-content">{{ post.content|linebreaksbr|truncatechars:100 }}</div>#}
        <div class="post-like-users">
            {% if post.like_users.all %}
                {% if post.like_count > 1 %}
                    {{ post.like_count }}명이 좋아합니다.
                {% else %}
                    {% for user in post.like_users.all %}
                        <strong>{{ user.username }}</strong>
                        님이 좋아합니다.
                        {#                {% if not forloop.last %}#}
                        {#                    <strong>, </strong>#}
                        {#                {% endif %}#}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <div class="post-comments">
            {% if post.comment_set.all %}
                {% for comment in post.comment_set.all %}
                    <div class="post-comment">
                        <span class="comment-author">{{ comment.author.username }}</span>
                        <span class="comment-content">{{ comment.content }}</span>
                        {% if user == comment.author %}
                            <form action=""
                                  method="POST"
                                  class="comment_delete">{% csrf_token %}
                                <button type="submit" class="btn">
                                    삭제
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="post-comment-form-container" clearfix>
            <form action=""
                  method="POST" class="form-like">{% csrf_token %}
                <button
                        type="submit"
                        class="btn-like
              {% if user in post.like_users.all %}
                sprite-heart-full
              {% else %}
                sprite-heart-empty
              {% endif %}">
                </button>
            </form>
            <form action=""
                  method="POST" class="form-class">{% csrf_token %}
                <input
                        type="text"
                        placeholder="댓글달기"
                        class="input-comment"
                        name="content">
            </form>
        </div>
    </div>
</article>