{% extends "common/base.html" %}

{% block content %}
    <div class="post-list-container">
        {% for post in posting %}
            <article class="post">
                <header class="post-header">
                    <span class="header-username">{{ post.author.username }}</span>
{#                    포스트 삭제를 위한 form#}
                    {% if user == post.author %}
                        <form action="{% url 'post:post_delete' post_id=post.id %}"
                              method="POST"
                              class="post_delete">{% csrf_token %}
                            <button type="submit" class="btn">글 삭제</button>
                        </form>
                    {% endif %}
                    <span class="header-date">{{ post.created_date }}</span>
                </header>
                <div class="post-image-container">
                    <img src="{{ MEDIA_URL }}{{ post.photo }}" alt=""
                         class="post-image">
                </div>
                <div class="post-bottom-container">
{#                    포스트에 컨텐츠가 없이 댓글에만 나오게함#}
{#                    <div class="post-content">{{ post.content|linebreaksbr|truncatechars:100 }}</div>#}
                    <div class="post-like-users">
                        {% if post.like_users.all %}
                            {% if post.like_count > 1 %}
                                {{ post.like_count }}명이 좋아합니다.
                            {% else %}
                                {% for user in post.like_users.all %}
                                    <strong>{{ user.username }}</strong>
                                    님이 좋아합니다.
                                    {#                {% if not forloop.last %}#}
                                    {#                    <strong>, </strong>#}
                                    {#                {% endif %}#}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="post-comments">
                        {% if post.comment_set.all %}
                            {% for comment in post.comment_set.all %}
                                <div class="post-comment">
                                    <span class="comment-author">{{ comment.author.username }}</span>
                                    <span class="comment-content">{{ comment.content }}</span>
                                    {% if user == comment.author %}
                                        <form action="{% url 'post:comment_delete' post_id=post.id comment_id=comment.id %}"
                                              method="POST"
                                              class="comment_delete">{% csrf_token %}
                                            <button type="submit" class="btn">삭제</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="post-comment-form-container" clearfix>
                        <form action="{% url 'post:like_toggle' post_id=post.id %}"
                              method="POST" class="form-like">{% csrf_token %}
                            <button
                                    type="submit"
                                    class="btn-like
              {% if user in post.like_users.all %}
                sprite-heart-full
              {% else %}
                sprite-heart-empty
              {% endif %}">
                            </button>
                        </form>
                        <form action="{% url 'post:comment_add' post_id=post.id %}"
                              method="POST" class="form-class">{% csrf_token %}
                            <input
                                    type="text"
                                    placeholder="댓글달기"
                                    class="input-comment"
                                    name="content">
                        </form>
                    </div>
                </div>
            </article>
        {% endfor %}

        <a href="{% url 'post:add' %}" class="btn-add-post">Add Post</a>
    </div>

{% endblock %}
